body{
  background-color :#e4e3e3;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width : 7px;
  border-color : #84a9ac;
  width : 50px;
}
h1,h2{
  color:#204051;
  font-family: 'Bad Script';
}

h3{
  color:#3b6978;
  font-family: 'Bad Script';
}
